<style>
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 11px 22px;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    border-radius: 4px;
  }

  .logo-empresa {
    display: flex;
    align-items: center;
  }

  .logo-empresa .logo {
    width: 25px;
  }

  .logo-empresa .name {
    font-weight: 600;
    color: #fff;
    margin-left: 7px;
    font-size: 15px;
  }

  .site {
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
  }

  .icon {
    width: 18px;
    margin: 0 4px;
  }
</style>

<div class="footer">
    <div class="logo-empresa">
      <img class="logo" src="data:image/svg+xml;base64,
      PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTExLjk5OSA1MTEuOTk5IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTEuOTk5IDUxMS45OTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNNTAzLjA1OCwxNTcuMjc5bC00Mi4zMzgtNDIuMzM4bDMxLjgyNy0zMS44MTVjMi44MTQtMi44MTEsNC4zOTYtNi42Miw0LjM5Ni0xMC42MDRjMC0zLjk4NC0xLjU4Mi03Ljc5My00LjM5NS0xMC42MDUgICAgbC00Mi42MTItNDIuNjEyYy01LjYyNS01LjYyNS0xNS41ODYtNS42MjUtMjEuMjExLDBMMzk2LjkxLDUxLjEzMkwzNTQuNTY2LDguNzg2Yy0xMS43MTUtMTEuNzE1LTMwLjcxLTExLjcxNS00Mi40MjYsMCAgICBjLTExLjcxNywxMS43MTUtMTEuNzE3LDMwLjcxLDAsNDIuNDI2bDE0OC40OTEsMTQ4LjQ5M2MxMS43MTcsMTEuNzE1LDMwLjcxMiwxMS43MTUsNDIuNDI3LDAgICAgQzUxNC43NzMsMTg3Ljk5LDUxNC43NzMsMTY4Ljk5NSw1MDMuMDU4LDE1Ny4yNzl6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+Cgk8L2c+CjwvZz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0xOTkuODYsNDYwLjc4Nkw1MS4zNjksMzEyLjI5M2MtMTEuNzE3LTExLjcxNS0zMC43MS0xMS43MTUtNDIuNDI3LDBjLTExLjcxNSwxMS43MTctMTEuNzE1LDMwLjcxMiwwLDQyLjQyNyAgICBsNDIuMzQ1LDQyLjM0NWwtMzEuNzY1LDMxLjc1MmMtMi44MTMsMi44MTMtNC4zOTUsNi42MjEtNC4zOTUsMTAuNjA1czEuNTgyLDcuNzkzLDQuMzk1LDEwLjYwNWw0Mi42MTIsNDIuNTk4ICAgIGMyLjkyOSwyLjkzMSw2Ljc2Nyw0LjM5NiwxMC42MDUsNC4zOTZzNy42NzYtMS40NjUsMTAuNjA1LTQuMzk1bDMxLjc1Mi0zMS43NTJsNDIuMzM4LDQyLjMzOSAgICBjMTEuNzE1LDExLjcxNSwzMC43MSwxMS43MTUsNDIuNDI2LDBDMjExLjU3Nyw0OTEuNDk2LDIxMS41NzcsNDcyLjUwMSwxOTkuODYsNDYwLjc4NnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KCTwvZz4KPC9nPjxnPgoJPGc+CgkJPHBvbHlnb24gcG9pbnRzPSIyNjkuNzEzLDE3OC40OTIgMTc4LjY0NywyNjkuODY4IDI0Mi4yODcsMzMzLjUwOCAzMzMuMzUzLDI0Mi4xMyAgICIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkZGRkZGIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wb2x5Z29uPgoJPC9nPgo8L2c+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNNDYwLjYzMiwyNDIuMTMxTDI2OS43MTMsNTEuMjEyYy0xMS43MTUtMTEuNzE1LTMwLjcxMS0xMS43MTUtNDIuNDI2LDBjLTExLjcxNywxMS43MTctMTEuNzE3LDMwLjcxLDAsNDIuNDI3ICAgIGwxOTAuOTE5LDE5MC45MTljMTEuNzE1LDExLjcxNSwzMC43MSwxMS43MTUsNDIuNDI2LDBDNDcyLjM0OSwyNzIuODQzLDQ3Mi4zNDksMjUzLjg0OCw0NjAuNjMyLDI0Mi4xMzF6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+Cgk8L2c+CjwvZz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0yODQuNzE0LDQxOC4zNkw5My43OTQsMjI3LjQ0Yy0xMS43MTUtMTEuNzE1LTMwLjcxLTExLjcxNS00Mi40MjUsMGMtMTEuNzE3LDExLjcxNy0xMS43MTcsMzAuNzEyLDAsNDIuNDI3ICAgIGwxOTAuOTE5LDE5MC45MTljMTEuNzE1LDExLjcxNSwzMC43MSwxMS43MTUsNDIuNDI2LDBDMjk2LjQzMSw0NDkuMDcxLDI5Ni40MzEsNDMwLjA3NiwyODQuNzE0LDQxOC4zNnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+" />
      <span class="name">GYMPOINT</span>
    </div>
    <span class="site">http://gympoint.com.br</span>
    <div class="social-medias">
      <img class="icon" src="data:image/svg+xml;base64,
        PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0yODgsMTc2di02NGMwLTE3LjY2NCwxNC4zMzYtMzIsMzItMzJoMzJWMGgtNjRjLTUzLjAyNCwwLTk2LDQyLjk3Ni05Niw5NnY4MGgtNjR2ODBoNjR2MjU2aDk2VjI1Nmg2NGwzMi04MEgyODh6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==" />
      <img class="icon" src="data:image/svg+xml;base64,
        PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBjbGFzcz0iIj48Zz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0zNTIsMEgxNjBDNzEuNjQ4LDAsMCw3MS42NDgsMCwxNjB2MTkyYzAsODguMzUyLDcxLjY0OCwxNjAsMTYwLDE2MGgxOTJjODguMzUyLDAsMTYwLTcxLjY0OCwxNjAtMTYwVjE2MCAgICBDNTEyLDcxLjY0OCw0NDAuMzUyLDAsMzUyLDB6IE00NjQsMzUyYzAsNjEuNzYtNTAuMjQsMTEyLTExMiwxMTJIMTYwYy02MS43NiwwLTExMi01MC4yNC0xMTItMTEyVjE2MEM0OCw5OC4yNCw5OC4yNCw0OCwxNjAsNDggICAgaDE5MmM2MS43NiwwLDExMiw1MC4yNCwxMTIsMTEyVjM1MnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIHN0eWxlPSJmaWxsOiNGRkZGRkYiPjwvcGF0aD4KCTwvZz4KPC9nPjxnPgoJPGc+CgkJPHBhdGggZD0iTTI1NiwxMjhjLTcwLjY4OCwwLTEyOCw1Ny4zMTItMTI4LDEyOHM1Ny4zMTIsMTI4LDEyOCwxMjhzMTI4LTU3LjMxMiwxMjgtMTI4UzMyNi42ODgsMTI4LDI1NiwxMjh6IE0yNTYsMzM2ICAgIGMtNDQuMDk2LDAtODAtMzUuOTA0LTgwLTgwYzAtNDQuMTI4LDM1LjkwNC04MCw4MC04MHM4MCwzNS44NzIsODAsODBDMzM2LDMwMC4wOTYsMzAwLjA5NiwzMzYsMjU2LDMzNnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIHN0eWxlPSJmaWxsOiNGRkZGRkYiPjwvcGF0aD4KCTwvZz4KPC9nPjxnPgoJPGc+CgkJPGNpcmNsZSBjeD0iMzkzLjYiIGN5PSIxMTguNCIgcj0iMTcuMDU2IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBzdHlsZT0iZmlsbDojRkZGRkZGIj48L2NpcmNsZT4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+" />
      <img class="icon" src="data:image/svg+xml;base64,
        PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBjbGFzcz0iIj48Zz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0yNTYuMDY0LDBoLTAuMTI4QzExNC43ODQsMCwwLDExNC44MTYsMCwyNTZjMCw1NiwxOC4wNDgsMTA3LjkwNCw0OC43MzYsMTUwLjA0OGwtMzEuOTA0LDk1LjEwNGw5OC40LTMxLjQ1NiAgICBDMTU1LjcxMiw0OTYuNTEyLDIwNCw1MTIsMjU2LjA2NCw1MTJDMzk3LjIxNiw1MTIsNTEyLDM5Ny4xNTIsNTEyLDI1NlMzOTcuMjE2LDAsMjU2LjA2NCwweiBNNDA1LjAyNCwzNjEuNTA0ICAgIGMtNi4xNzYsMTcuNDQtMzAuNjg4LDMxLjkwNC01MC4yNCwzNi4xMjhjLTEzLjM3NiwyLjg0OC0zMC44NDgsNS4xMi04OS42NjQtMTkuMjY0QzE4OS44ODgsMzQ3LjIsMTQxLjQ0LDI3MC43NTIsMTM3LjY2NCwyNjUuNzkyICAgIGMtMy42MTYtNC45Ni0zMC40LTQwLjQ4LTMwLjQtNzcuMjE2czE4LjY1Ni01NC42MjQsMjYuMTc2LTYyLjMwNGM2LjE3Ni02LjMwNCwxNi4zODQtOS4xODQsMjYuMTc2LTkuMTg0ICAgIGMzLjE2OCwwLDYuMDE2LDAuMTYsOC41NzYsMC4yODhjNy41MiwwLjMyLDExLjI5NiwwLjc2OCwxNi4yNTYsMTIuNjRjNi4xNzYsMTQuODgsMjEuMjE2LDUxLjYxNiwyMy4wMDgsNTUuMzkyICAgIGMxLjgyNCwzLjc3NiwzLjY0OCw4Ljg5NiwxLjA4OCwxMy44NTZjLTIuNCw1LjEyLTQuNTEyLDcuMzkyLTguMjg4LDExLjc0NGMtMy43NzYsNC4zNTItNy4zNiw3LjY4LTExLjEzNiwxMi4zNTIgICAgYy0zLjQ1Niw0LjA2NC03LjM2LDguNDE2LTMuMDA4LDE1LjkzNmM0LjM1Miw3LjM2LDE5LjM5MiwzMS45MDQsNDEuNTM2LDUxLjYxNmMyOC41NzYsMjUuNDQsNTEuNzQ0LDMzLjU2OCw2MC4wMzIsMzcuMDI0ICAgIGM2LjE3NiwyLjU2LDEzLjUzNiwxLjk1MiwxOC4wNDgtMi44NDhjNS43MjgtNi4xNzYsMTIuOC0xNi40MTYsMjAtMjYuNDk2YzUuMTItNy4yMzIsMTEuNTg0LTguMTI4LDE4LjM2OC01LjU2OCAgICBjNi45MTIsMi40LDQzLjQ4OCwyMC40OCw1MS4wMDgsMjQuMjI0YzcuNTIsMy43NzYsMTIuNDgsNS41NjgsMTQuMzA0LDguNzM2QzQxMS4yLDMyOS4xNTIsNDExLjIsMzQ0LjAzMiw0MDUuMDI0LDM2MS41MDR6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBzdHlsZT0iZmlsbDojRkZGRkZGIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==" />
    </div>
</div>